@{
    ViewBag.Title = "Index";
}


    <section id="recent-blog-posts" class="recent-blog-posts">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>Blog</h2>
                <p>Recent posts form our Blog</p>
            </header>

            <div class="row">

                <div class="col-lg-4">
                    <div class="post-box">
                        <div class="post-img"><img src="~/Content/assets/img/blog/blog-1.jpg" class="img-fluid" alt=""></div>
                        <span class="post-date">Tue, September 15</span>
                        <h3 class="post-title">Eum ad dolor et. Autem aut fugiat debitis voluptatem consequuntur sit</h3>
                        <a class="readmore stretched-link mt-auto" @Html.ActionLink("Read More", "Article", "Home")</a>
                    </div>
                </div>


            </div>

        </div>

    </section><!-- End Recent Blog Posts Section -->
