@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ENNEM.COM</h1>
    <p class="lead">
        ENNEM
        Bli med og få
        fart på Bergen.
    </p>
    <p><a href="https://web01.usn.no/~233623/3Y/2/ENNEM.pdf" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Hvem er vi</h2>
        <p>
            ENNEM er en aktivitet tilpasset brukere i alle aldre
            og fysiske nivåer. Nå presenteres neste års aksjon
            som skal motivere til aktivitet på en enkel,
            engasjerende og morsom måte.
        </p>
        <p><a class="btn btn-default" href="https://web01.usn.no/~233623/3Y/2/ENNEM.pdf">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>I 2022 tar vi kampanjen et skritt videre.</h2>
        <p> ENNEM skal få hele Bergen i bevegelse gjennom
            opplevelser, fysisk aktivitet, konkurranser og premiering.
            Konseptet baserer seg på en app med kart som viser hvor
            punkter og premier ligger. Med punkter over hele
            kommunen når vi folk der de bor. Oppnåelse av punkter og
            premiering registreres automatisk i appen. Deltagelse er
            gratis og brukernes tilbakemeldinger er at de motiveres til
            ytterlige innsats..
        </p>
        <p><a class="btn btn-default" href="https://web01.usn.no/~233623/3Y/2/ENNEM.pdf">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2> Invitasjon til neste års kampanje</h2>
        <p> Vi ønsker å invitere samarbeidspartnere til en presentasjon
            av neste års aktivitetskampanje. Målet er å etablere en
            samarbeidsgruppe med bedrifter som ønsker å engasjere seg
            i samfunnsnyttig utvikling. Bedriftene som deltar vil bli
            eksponert i app, nett og på nasjonal TV.
            Deltagelse i prosjektet gir samtidig muligheter for interne
            løsninger med positive effekter i egen bedrift.
            Vi håper dette er interessant for deres bedrift. Ønsker dere å
            være med videre ta gjerne kontakt.
        </p>
        <p><a class="btn btn-default" href="https://web01.usn.no/~233623/3Y/2/ENNEM.pdf">Learn more &raquo;</a></p>
    </div>
</div>